@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-secondary text-white font-medium px-6 py-3 rounded-2xl hover:bg-tertiary transition duration-300;
  }

  .btn-alt {
    @apply bg-white text-black font-medium px-6 py-3 rounded-lg hover:bg-tertiary hover:text-white transition duration-300;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
